html{
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    
}
/*Inicio estilos Header*/
header{
    background-image: url(../imgs/black-and-white-1280.jpg);
    background-size: cover;
    height: 635px;
    padding-top: 20px;
}
header nav{
    width: 300px;
    float: right;
    font-size: 18px;
}
header nav a{
    color: #deb887;
    text-decoration: none;
    margin-right:8px;
}
header nav a:hover{
    color: #ff9224;
}
/*modificar un estilo del dropdown de bs, se utiliza !important para sobreescribir los estilos o inidicar que use priorida este*/
.nav-link {
    display: inline;
    padding: 0px;
}
header img{
    width: 230px;
    height: 230px;
    margin-top: -25px;
    margin-left: -30px;
}
#inicio{
    width:400px;
    margin-top: 270px;
    margin-left: 65px;
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
}
#inicio h1{
    font-size: 34px;
}
#inicio p{
    margin-top: 10px;
    font-size: 24px;
}
/*Fin estilos Header*/

/*Inicio estilos Main*/
/*font-family: 'Caveat', cursive; comentario*/
/*Fin estilos Main*/

/*Inicio estilos footer*/
/*Fin estilos footer*/
